@keyframes ldio-fvuh7mt3s85 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-fvuh7mt3s85 div { box-sizing: border-box!important }
.ldio-fvuh7mt3s85 > div {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #1d3f72 transparent #1d3f72 transparent;
    animation: ldio-fvuh7mt3s85 2.0833333333333335s linear infinite;
}

.ldio-fvuh7mt3s85 > div:nth-child(2), .ldio-fvuh7mt3s85 > div:nth-child(4) {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    animation: ldio-fvuh7mt3s85 2.0833333333333335s linear infinite reverse;
}
.ldio-fvuh7mt3s85 > div:nth-child(2) {
    border-color: transparent #4996a2 transparent #4996a2
}
.ldio-fvuh7mt3s85 > div:nth-child(3) { border-color: transparent }
.ldio-fvuh7mt3s85 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-fvuh7mt3s85 > div:nth-child(3) div:before, .ldio-fvuh7mt3s85 > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 39px;
    background: #1d3f72;
    border-radius: 50%;
    box-shadow: 0 86px 0 0 #1d3f72;
}
.ldio-fvuh7mt3s85 > div:nth-child(3) div:after {
    left: -4px;
    top: 39px;
    box-shadow: 86px 0 0 0 #1d3f72;
}

.ldio-fvuh7mt3s85 > div:nth-child(4) { border-color: transparent; }
.ldio-fvuh7mt3s85 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-fvuh7mt3s85 > div:nth-child(4) div:before, .ldio-fvuh7mt3s85 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 34px;
    background: #4996a2;
    border-radius: 50%;
    box-shadow: 0 76px 0 0 #4996a2;
}
.ldio-fvuh7mt3s85 > div:nth-child(4) div:after {
    left: -4px;
    top: 34px;
    box-shadow: 76px 0 0 0 #4996a2;
}
.loadingio-spinner-double-ring-8can0ql42yk {
    width: 84px;
    height: 84px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-fvuh7mt3s85 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.84);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-fvuh7mt3s85 div { box-sizing: content-box; }
